<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeCycle</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>

</head>
<body>
      <h1>FreeCycle</h1>
      <div id="app">
        <div class = "mx-6">

          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
              </div>
              <div id="navbarMenu" class="navbar-menu">
                <div class="navbar">
                  <a class="navbar-item is-active">
                    Home
                  </a>
                  <a class="navbar-item">
                    Features
                  </a>
                  <a class="navbar-item">
                    Help
                  </a>
                </div>
              </div>
            </div>
          </nav>
      


        <!-- @submit prevents reloading of page upon form button press and run postData method instead -->
        <form @submit.prevent = "postData">
          <!-- All the data input boxes and submit buttons are displayed here -->
          <div class="field">
            <div class="control">
              <input class="input is-rounded is-link" v-model="item.user_id" name="user_id" placeholder="Please Enter your User ID:"/>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-rounded is-link" v-model="item.keywords" name="keywords" placeholder="Please Enter Keywords:"/>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-rounded is-link" v-model="item.image" name="image" placeholder="Please Enter an Image URL Here:"/>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-rounded is-link" v-model="item.lat" name="lat" placeholder="Please Enter Location Latitude Here:"/>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-rounded is-link" v-model="item.lon" name="lon" placeholder="Please Enter Location Longitude Here:"/>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <textarea class="textarea is-rounded is-link" v-model="item.description" name = "description" placeholder="Please Enter a Description:" rows="10"></textarea>
            </div>
          </div>
          <button class = "button is-success is-outlined is-large" data-action="create_item">Post</button>
        </form>
        
        <!-- This a container that uses a v-for to return all the currently stored data and images 
        displayed on their own individual cards -->
        
        <ul>
          <div class="container">
            <div class="section">
              <div id="app" class="row columns is-multiline">
                <li v-for="item of list" key="card.id" class="column is-3">
                  <div class="card large">
                    <div class="card-image">
                      <figure class="image is-16x9">
                      <img :src="item.image" alt="Image">
                      </figure>
                    </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <p class = "title is-4 no-padding">
                          {{"ID: "}}
                          <span data-field="id">{{item.id}}</span>
                        </p>
                        <p class="title is-4 no-padding">
                          {{"User ID: "}}{{item.user_id}}
                        </p>
                          <p class="title is-6">
                            {{"Keywords: "}}
                          </p> 
                          <p class = "subtitle is-6">
                            {{item.keywords}}
                          </p>
                          <p class="title is-6">
                            {{"Latitude: "}}
                          </p>
                          <p class = "subtitle is-6">
                            {{item.lat}}
                          </p>
                          <p class="title is-6">
                          {{"Longitude: "}}
                          </p>
                          <p class = "subtitle is-6">
                            {{item.lon}}
                          </p>
                      </div>
                    </div>
                    <div class="content">
                      <p class = "title is-6">
                        {{"Description: "}}
                      </p>
                      <p>
                        {{item.description}}
                      </p>
                    </div>
                    <button class = "button is-danger is-small is-rounded" data-action = "delete" @click="deleteItem(item.id)">Delete</button>
                  </div>
                </li>
              </div>
            </div>
          </div>
        </ul>
      </div>
      </div>

      </div>
      
      <script type="module">
        import { createApp, ref } from 'vue'
        
        const urlParams = new URLSearchParams(window.location.search);
	      const urlAPI = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');

        createApp({
          data(){return {
              item: {
                  user_id: '',
                  keywords: '',
                  description: '',
                  image: '',
                  lat: '',
                  lon: '',
                },
              list: [1,2,3],
            }
          },
          
          created() 
          {
            // Upon loading of the webpage these functions are run to ensure the
            // list of items are loaded and the form is empty
              this.clearForm()
              this.getItems()
          },

          methods: {

            clearForm()
            {
              // This function sets the contents of the forms input boxes
              // to an empty string returns a console log
              console.log("Cleared Form")
              this.item.user_id = ''
              this.item.keywords= ''
              this.item.description= ''
              this.item.image= ''
              this.item.lat= ''
              this.item.lon= ''
            },

            postData(data) {

              // This function returns the data that is to be posted to the console before 
              // appending it the server-side data structure, before updating the list 
              // using getItems() and clearing the from ready for a new input. 

              console.log(this.item)

              fetch(`${urlAPI}/item`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(this.item),
              
              })
                .then(response => response.json())
                .then(json => console.log('Item Posted', json))
                .then(() => this.getItems())
                .then(() => this.clearForm())
                .catch(err => console.error(err));
                
            },
            
            getItems() {
              // This function collects all the currently stored items data using a GET request 
              fetch(`${urlAPI}/items`, 
              {
              method: 'GET',
              })

              .then(response => response.json())
              .then(json => 
              {
              console.log("GET Request successful!", json)
              this.list = json  // save the json we got back into the variable `items`
              })
              .catch(err => console.error(err))
            },

            deleteItem(item_id)
            {
              console.log(item_id)
              fetch(`${urlAPI}/item/${item_id}`,
              {
                method: 'DELETE',
              })

             .then(json => console.log('Item Deleted!', json))
             .then(() => this.getItems())
             .catch(err => console.error(err));
            }

          },

        }).mount('#app')
      </script>

      
</body>
</html>