<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client View</title>

    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
</head>
<body>
      <h1>HTML Boilerplate</h1>
      <div id="app">
        {{ message }}
      
        <!-- @submit prevents reloading of page upon form button press and run postData method instead-->

      <form @submit.prevent = "postData">
        <input v-model="item.user_id" name="user_id" placeholder="Please Enter your User ID:"/>
        <input v-model="item.keywords" name="keywords" placeholder="Please Enter Keywords:"/>
        <input v-model="item.description" name="description" placeholder="Please Enter a Description:"/>
        <input v-model="item.image" name="image" placeholder="Please Enter an Image URL Here:"/>
        <input v-model="item.lat" name="lat" placeholder="Please Enter Location Latitude Here:"/>
        <input v-model="item.lon" name="lon" placeholder="Please Enter Location Longitude Here:"/>
        <button>Post</button>
      </form>
      
      <ul>
          <li v-for="item of list"> {{item}}
            <span data-field="id">{{item.id}}</span>
            <span data-field="user_id">{{item.user_id}}</span>
            <span data-field="keywords">{{item.keywords}}</span>
            <span data-field="description">{{item.description}}</span>
            <img :src="item.image">
            <span data-field="lat">{{item.lat}}</span>
            <span data-field="lon">{{item.lon}}</span>
            <button data-action = "delete" @click="deleteItem(item.id)">Delete</button>
          </li>
      </ul>

      </div>
      
      <script type="module">
        import { createApp, ref } from 'vue'
        
        const urlParams = new URLSearchParams(window.location.search);
	      const urlAPI = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');

        createApp({
          data(){return {
              message: 'Hello Vue!',
              item: {
                  user_id: '',
                  keywords: '',
                  description: '',
                  image: '',
                  lat: '',
                  lon: '',
                },
              list: [1,2,3],
            }
          },

          created() 
          {
              this.clearForm()
              this.getItems()
          },

          methods: {

            clearForm()
            {
              console.log("Cleared Form")
              this.item.user_id = ''
              this.item.keywords= ''
              this.item.description= ''
              this.item.image= ''
              this.item.lat= ''
              this.item.lon= ''
            },

            postData(data) {

              console.log(this.item)

              fetch(`${urlAPI}/item`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(this.item),
              
              })
                .then(response => response.json())
                .then(json => console.log('Item Posted', json))
                .then(() => this.getItems())
                .catch(err => console.error(err))
                .then(() => this.clearForm());
            },
            
            getItems() {
              fetch(`${urlAPI}/items`, 
              {
              method: 'GET',
              })

              .then(response => response.json())
              .then(json => 
              {
              console.log("GET Request successful!", json)
              this.list = json  // save the json we got back into the variable `items`
              })
              .catch(err => console.error(err))
            },

            deleteItem(item_id)
            {
              fetch(`${urlAPI}/item/${item_id}`,
              {
                method: 'DELETE',
              })

             .then(json => console.log('Item Deleted!', json))
             .then(() => this.getItems())
             .catch(err => console.error(err));
            }
          },
        }).mount('#app')
      </script>

      
</body>
</html>